<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authBaseURL</key>
	<string>http://192.168.142.130:8082/esaadmobile/</string>
	<key>baseURL</key>
	<string>http://192.168.142.130:8082/esaadmobile/v1/mob/</string>
</dict>
</plist>
